@import url("https://fonts.googleapis.com/css2?family=K2D:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

a {
  font-family: "K2D", sans-serif;
  font-weight: 500 !important;
  font-size: large !important;
}
* {
  font-family: "K2D", sans-serif;
}
.btn {
  border-radius: 0 !important;
}
.b-or {
  border-bottom: 2px solid #ff5400;
}
.c-y {
  color: #ff5400;
}
.vh-25 {
  height: 25vh;
}
.vh-40 {
  height: 40vh;
}
.vh-75 {
  height: 75vh;
}
.vh-50 {
  height: 50vh;
}
.primary-bg {
  background-color: #ff5400;
}
.h-fit {
  height: fit-content;
}
.h-inherit {
  height: inherit;
}
.cover {
  object-fit: cover;
}
.primary-text {
  color: #ff5400;
}
.fs-sm {
  font-size: 0.75em;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
